    body {
      background-color: #6600b2; /* deep purple background */
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    /* Custom form styling */
    .form-container {
      background-color: white;
      max-width: 480px;
      margin:  3rem auto 4rem;
      border-radius: 20px;
      box-shadow: 0 15px 20px rgba(0,0,0,0.15);
      padding: 2rem;
      color: #31004d;
    }

    h1 {
      font-weight: 800;
      font-size: 3rem;
      margin-bottom: 2rem;
      text-align: center;
      color: #31004d;
      letter-spacing: 0.05em;
    }

    label {
      font-weight: 600;
      font-size: 0.9rem;
      margin-bottom: 0.3rem;
      display: block;
    }

    input[type="text"],
    input[type="tel"],
    input[type="date"] {
      width: 100%;
      border: 2px solid #a277cc;
      border-radius: 10px;
      padding: 0.7rem 1rem;
      margin-bottom: 1.5rem;
      font-size: 1rem;
      transition: border-color 0.3s ease;
      box-shadow: 1px 2px 6px #c4b0e3;
      color: #3a1663;
    }

    input[type="text"]:focus,
    input[type="tel"]:focus,
    input[type="date"]:focus,
    textarea:focus {
      outline: none;
      border-color: #501aad;
      box-shadow: 0 0 8px #501aad;
    }

    textarea {
      width: 100%;
      border: 2px solid #a277cc;
      border-radius: 10px;
      padding: 0.7rem 1rem;
      margin-bottom: 100%;
      font-size: 1rem;
      transition: border-color 0.3s ease;
      box-shadow: 1px 2px 6px #c4b0e3;
      color: #3a1663;
      outline: none;
      min-height: 100px;
      resize: vertical;
    }



    button {
      background-color: #7f4cd8;
      color: white;
      font-weight: 700;
      border-radius: 50px;
      width: 100%;
      height: 2rem;
      font-size: 1.1rem;
      cursor: pointer;
      border: none;
      transition: background-color 0.3s ease;
      box-shadow: 0 5px 12px #6338b2;
      margin-top: 100rem;
    }

    button:hover {
      background-color: #693cc1;
      box-shadow: 0 6px 15px #4a2a82;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }

    .profile-photo {
        width: 130px;
        height: 180px;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
        

    /* Responsive scaling */
    @media (max-width: 500px) {
      .form-container {
        margin: 2rem 1rem 3rem;
        padding: 1.8rem 1.2rem;
      }
    }